@using CBU.TalentedApplication.Business.Model

@model List<Branch>


        @foreach (var item in Model)
        {


            <p style="color:aliceblue">
                <td>@item.Name</td>
            </p>
        }
