<script>
    loadContent('AddBranch', 'page-content');
    loadContent('GetBranches', 'table-container');
</script>


<div style="color: aliceblue; margin:15px" id="page-content"></div>


<h2 style ="color: aliceblue; margin-left:15px; margin-top:35px">Mevcut branşalr:</h2>


<div style="color: aliceblue; margin-top:15px; margin-left:15px" id="table-container"></div>