
<script>
    loadContent('AddDocument', 'page-content');
</script>


<script>
    loadContent('GetDocuments', 'table-container');
</script>


<div id="page-content"></div>
<div id="table-container"></div>