@{
    ViewData["Title"] = "Lost Password";
}



<!-- Display error message if any -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<!-- Display success message if any -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2 style="color:aliceblue">Şifre değiştirme ekranı</h2>

<form style="color:aliceblue"  asp-action="LostPassword" method="post">
    <div class="form-group">
        <label style="color:aliceblue" for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required />
    </div>

    <div class="form-group">
        <label style="color:aliceblue" for="password">Yeni şifre</label>
        <input type="password" class="form-control" id="password" name="password" required />
    </div>

    <div class="form-group">
        <label style="color:aliceblue" for="repeated">şifre tekrerla</label>
        <input type="password" class="form-control" id="repeated" name="repeated" required />
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
