@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Account" asp-action="SignUp" method="post" style="width: 50%;">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <input type="text" name="email" placeholder="Email Adresiniz">

    <input type="text" name="fullName" placeholder="Ad ve Soyadınız">

    <input type="password" name="password" placeholder="Parola">

    <input type="text" name="phone" placeholder="Telefon Numaranız">

    <input type="text" name="idNumber" placeholder="TC Numaranız">


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>
